<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

    </head>
    <body>
      <nav>
  <ul>
    <li><a href="/gestionUtilisateur">Gestion utilisateur</a></li>
   
  </ul>
</nav>
    </body>
</html>
